/* Variables */
:root {
  --main-text-color: #0029ff;
  --yellow: #ffd000;
}

/* General styles */
/**
* Hide blocks visually 
*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  scroll-behavior: smooth;
}

.page__body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-text-color);
}

.list {
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

/* Header */
.page__header {
  width: 200px;
  position: fixed;
  height: 100vh;
}

.page__navigation {
  padding: 1rem;
}

.page__logo-link {
  display: block;
}

.list__link {
  font-size: 18px;
  text-decoration: none;
}

/* Page Content */
.page__content {
  margin-left: 232px;
  padding: 1rem;
}

.mission__title {
  margin-bottom: 5px;
}

.mission__paragraph {
  margin-top: 0;
}

.project {
  border-bottom: 2px solid var(--main-text-color);
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.project__intro {
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* .project__intro-text {
  align-self: flex-end;
} */

.project__intro::before {
  content: " ►";
}

.project[open] .project__intro::before {
  content: " ▼";
}

.project__intro-text::after {
  content: "...";
}
.project[open] .project__intro-text::after {
  content: "";
}

.project__logo {
  min-width: 100px;
  min-height: 100px;
  object-fit: contain;
}

.project__intro-text {
  padding-left: 20px;
}

.project__desc-wrap {
  display: flex;
  flex-direction: column;
  padding-left: 136px;
}

.project__desc {
  margin-top: 0;
  /* padding-left: 136px; */
}

.project__desc-image {
  align-self: center;
  width: 30%;
  height: auto;
}

.reviews__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.review {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 0 5px var(--main-text-color);
  transition: all 0.3s linear;
}

.review:hover {
  transform: scale(1.3);
}

.review__image {
  border-radius: 20px;
}

/* Page footer */
.page__footer {
  width: 200px;
  height: max-content;
  position: sticky;
  top: 385px;
  bottom: 0;
}

.socials {
  padding: 0.5rem;
}

.socials__item {
  padding: 0.5rem;
}

/* Media queries */
@media screen and (max-width: 1440px) {
  .reviews__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .review:hover {
    transform: scale(1.1);
  }
}

@media screen and (max-width: 699px) {
  .page {
    scroll-padding: 260px;
  }

  .page__header {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
  }

  .page__navigation {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .navigation__list {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: center;
    column-gap: 1rem;
  }

  .page__content {
    margin-left: 0;
  }

  .about {
    padding-top: 250px;
  }

  .reviews__container {
    grid-template-columns: 1fr;
  }

  .review:hover {
    transform: unset;
  }

  .page__footer {
    position: relative;
    top: 0;
    width: 100%;
    height: auto;
    display: flex;
  }

  .socials {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 500px) {
  .page {
    scroll-padding: 265px;
  }
}

@media screen and (max-width: 339px) {
  .page {
    scroll-padding: 300px;
  }

  .about {
    padding-top: 270px;
  }
}
