/* Variables */
:root {
  --main-text-color: #0029ff;
  --yellow: #ffd000;
}

/* General styles */
/**
* Hide blocks visually 
*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  scroll-behavior: smooth;
}

.page__body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-text-color);
}

.list {
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.mb-80 {
  margin-bottom: 80px;
}

.section:last-child {
  margin-bottom: -245px;
}

/* Header */
.page__header {
  width: 200px;
  position: fixed;
  height: 100vh;
}

.page__navigation {
  padding: 1rem;
}

.page__logo-link {
  display: block;
}

.list__link {
  font-size: 18px;
  text-decoration: none;
}

/* Page Content */
.page__content {
  margin-left: 232px;
  padding: 1rem;
}

/** About section */
.mission__title {
  margin-bottom: 5px;
}

.mission__paragraph {
  margin-top: 0;
}

/** Project section */
.project {
  border-bottom: 2px solid var(--main-text-color);
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.project__intro {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.project__intro::marker {
  display: none;
}

.project__intro::before {
  content: " ►";
}

.project[open] .project__intro::before {
  content: " ▼";
}

.project__logo {
  min-width: 100px;
  min-height: 100px;
  object-fit: contain;
}

.project__intro-text {
  padding-left: 20px;
  font-size: 20px;
  font-weight: 700;
}

.project__desc-wrap {
  display: flex;
  flex-direction: column;
}

.project__desc {
  margin-top: 0;
}

.project__images-wrap {
  height: min-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.project__desc-image {
  height: 250px;
  vertical-align: top;
  object-fit: contain;
  transition: all 0.3s linear;
}

.project__desc-image:hover {
  transform: scale(1.2);
}

.project__desc-video {
  height: 250px;
  aspect-ratio: 300 / 250;
}

/** Reviews section */
.reviews__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.review {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 0 5px var(--main-text-color);
  transition: all 0.3s linear;
}

.review:hover {
  transform: scale(1.3);
}

.review__image {
  border-radius: 20px;
}

/** Q&A section */
.qa__block {
  position: relative;
  margin-bottom: 20px;
  padding: 20px 40px;
  border: 3px solid var(--main-text-color);
  cursor: pointer;
}

.question {
  display: block;
  font-size: 20px;
  font-weight: 700;
}

.question::marker {
  display: none;
}

.question::after {
  content: "+";
  position: absolute;
  right: 40px;
}

.qa__block[open] .question::after {
  content: "-";
}

.answer {
  margin-top: 15px;
  color: black;
}

.answer__link {
  font-size: 20px;
  font-weight: 700;
  color: var(--main-text-color);
  text-decoration: none;
  transition: all 0.3s linear;
}

.answer__link:hover {
  color: var(--yellow);
}

.qa__ask-form {
  position: relative;
}

.qa__ask-form::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(51, 51, 51, 0.9) url(../images/icons/loader.gif) center /
    50px no-repeat;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;
}

.qa__ask-form.send::after {
  opacity: 1;
  visibility: visible;
}

.qa__ask-input:focus {
  box-shadow: 0 0 15px var(--yellow);
}

.qa__ask-input.error {
  box-shadow: 0 0 15px red;
}

/* Page footer */
.page__footer {
  width: 200px;
  height: max-content;
  position: sticky;
  top: 385px;
  bottom: 0;
}

.socials {
  padding: 0.5rem;
}

.socials__item {
  padding: 0.5rem;
}

/* Media queries */
/** 1024-1440 */
@media screen and (max-width: 1440px) {
  .reviews__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .review:hover {
    transform: scale(1.1);
  }
}

/** 700-1023 */
@media screen and (max-width: 1023px) {
  .project__desc-image {
    width: 50%;
  }
}

/** 501-699 */
@media screen and (max-width: 699px) {
  .page {
    scroll-padding: 260px;
  }

  .page__header {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    z-index: 10;
  }

  .page__navigation {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .navigation__list {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: center;
    column-gap: 1rem;
  }

  .page__content {
    margin-left: 0;
  }

  .about {
    padding-top: 250px;
  }

  .reviews__container {
    grid-template-columns: 1fr;
  }

  .review:hover {
    transform: unset;
  }

  .page__footer {
    position: relative;
    top: 0;
    width: 100%;
    height: auto;
    display: flex;
  }

  .socials {
    display: flex;
    align-items: center;
  }
}

/** 340-500 */
@media screen and (max-width: 500px) {
  .page {
    scroll-padding: 265px;
  }

  .page__navigation {
    padding: 0;
    padding-top: 1rem;
  }

  .project__desc-wrap {
    padding-left: 0px;
  }

  .project__intro {
    margin-bottom: 20px;
  }

  .project__desc-image {
    width: 100%;
    height: auto;
  }

  .project__desc-image:hover {
    transform: unset;
  }
}

/** <339 */
@media screen and (max-width: 339px) {
  .page {
    scroll-padding: 300px;
  }

  .about {
    padding-top: 270px;
  }

  .project {
    display: flex;
    flex-direction: column;
  }

  .project__intro {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    row-gap: 20px;
  }

  .project__intro::before {
    flex-basis: 50%;
  }

  .project__intro-text {
    padding-left: 0;
  }
}
